{% extends 'base.html' %}
{% block content %}

<div class="card" style="border-color: var(--primary-color);">
  <div class="card-header" style="background-color: var(--primary-color); color: var(--secondary-color);">
    <strong>{{ item_record.name }}</strong>
  </div>
  <div class="card-body" style="background-color: var(--secondary-color);">
    <p class="card-text"><strong>ID:</strong> {{ item_record.id }}</p>
    <p class="card-text"><strong>Serial Number:</strong> {{ item_record.serial_num }}</p>
    <p class="card-text"><strong>Name:</strong> {{ item_record.name }}</p>
    <p class="card-text"><strong>Description:</strong> {{ item_record.desc }}</p>
    <p class="card-text"><strong>Quantity:</strong> {{ item_record.quant }}</p>
    <p class="card-text"><strong>Location:</strong> {{ item_record.location }}</p>
    <p class="card-text"><strong>Created At:</strong> {{ item_record.created_at }}</p>
  </div>
</div>

<br/><br/>
<div class="btn-group" role="group" aria-label="Record Actions">
  <a href="{% url 'home' %}" class="btn" style="background-color: var(--text-color); color: var(--secondary-color);">Back</a>
  <a href="{% url 'delete_record' item_record.id %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'update_record' item_record.id %}" class="btn" style="background-color: var(--accent-color); color: var(--primary-color);">Update Record</a>
</div>

{% endblock %}
