{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
  <h1 style="color: var(--primary-color);">Update Record</h1>
  <br/>

  <form method="POST" style="background-color: var(--secondary-color); padding: 20px; border-radius: 8px;">
    {% csrf_token %}
    <div style="margin-bottom: 1rem;">
      {{ form.as_p }}
    </div>
    <button type="submit" class="btn" style="background-color: var(--accent-color); color: var(--primary-color);">Update Record</button>
  </form>

</div>

{% endblock %}
